<%- include('../../fragment/header.ejs') %>

    <main>
      <h2>Grades Information</h2>
        <p>No records to display.</p>
        <p><a href="/grades/add" class="button-add">Add new Grade</a></p>
    </main>

<%- include('../../fragment/footer.ejs') %>