<%- include('../../fragment/header.ejs') %>

    <main>
      <h2>Students Information</h2>
      <form class="form">
        <label for="studentPesel">Student Pesel:</label>
        <input type="text" name="studentPesel" id="studentPesel" value="993" disabled>
        <span id="errorStudentId" class="errors-text"></span>

        <label for="FirstName">First Name: </label>
        <input type="text" name="FirstName" id="FirstName" value="Vitka" disabled>
        <span id="errorFirstName" class="errors-text"></span>
        
        <label for="FirstName">Last Name: </label>
        <input type="text" name="LastName" id="LastName" value="Flexer" disabled>
        <span id="errorLastName" class="errors-text"></span>

        <label for="email">Student email: </label>
        <input type="email" name="email" id="email" value="VitkaFlexer@gmail.com" disabled>
        <span id="errorStudentEmail" class="errors-text"></span>
        
        <div class="form-buttons">
            <a href="/student/invalid"
            class="list-actions-button-edit">Edit</a>
        </div>
    </form>

    <h2>Grades details</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Grade</th>
                    <th>TeacherName</th>
                    <th>TeacherLastName</th>
                </tr>
            </thead>
            <tbody class="info-details">
                <tr>
                    <td>Math</td>
                    <td>5</td>
                    <td>Jamal</td>
                    <td>Older</td>
                </tr>
            </tbody>
        </table>
        <div class="form-buttons">
            <a href="/student" class="list-actions-button-details">Back</a>
        </div>

    </main>

<%- include('../../fragment/footer.ejs') %>