<%- include('../../fragment/header.ejs') %>

    <main>
      <h2>Students Information</h2>
        <p>No records to display.</p>
        <p><a href="/student/add" class="button-add">Add new Student</a></p>
    </main>

<%- include('../../fragment/footer.ejs') %>