<%- include('../../fragment/header.ejs') %>

    <main>
      <h2>Teachers Information</h2>
        <p>No records to display.</p>
        <p><a href="/teacher/add" class="button-add">Add new Teacher</a></p>
    </main>

<%- include('../../fragment/footer.ejs') %>